.frame10_container {
    min-height: 100vh;
  }
  .card{
    background: #232526;
    border-radius: 1%;
    height: 208px;
    left: 0;
    top: 0;
    margin: 100px;
    width: 440px;
  }
.frame10_frame10 {
  top: 0px;
  left: 0px;
  width: 514px;
  height: 208px;
  border-radius: 1%;
  background: #232526;
  margin: 50px;
}
.alltext {
  top: 265px;
  left: 201px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
}
  
  .devtext{
    color: rgba(255, 255, 255, 1);
    height: auto;
    align-self: auto;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
  }
  .h5 {
    color: rgba(183, 186, 191, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame10_text6 {
    top: 42px;
    left: 152px;
    color: rgba(128, 126, 126, 1);
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame10_text7 {
    color: rgb(255, 255, 255);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame10_text8 {

    color: rgb(255, 255, 255);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame10_edit_button {
    top: 369px;
    left: 578px;
    width: 15px;
    height: 17px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-radius: 8%;
    background-color: rgb(94, 91, 91);
}
  
  .frame10_editedit {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 7px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  
.allcontent{
  top: 37px;
  left: -380px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
h5{
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700px;
  font-stretch: normal;


}