.header{
    background: #1a1919;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}
h4{
    margin-left: 0.9em;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

.links{
    margin-right: 5em;
    display: flex;
    gap: 1em;
    padding-top: 3px;
 /* width: 30px; */
    /* height: 30px;  */
    /* border-radius:50%; */
}
.links a:hover{
    text-align: center;
    
   
    background:rgb(5, 137, 214);
}