/* palette link: https://coolors.co/palette/00132d-00193b-001e45-002657-002d67-00377e */

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 95vh;
    background-color: #001e45;
    overflow-wrap: break-word;
}
.user_sidebar{
    padding-top: 2em;
    text-align: center;
    color: white;
}
.avatar_img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 2px outset cyan;
    border-radius: 50%;
}
nav{
    display:flex;
    flex-direction: column;
    margin:0 25%;
    gap: 3em;
}
.sidebar_btn{
    background-color:transparent;
    border-color: transparent;
    cursor:pointer;
}
.sidebar_btn:hover{
    background: #002d67;
    /* border-radius: 50%; */
    /* width: 50px; */
    /* height: 50px; */
    background:rgb(5, 137, 214);
}
.settings{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3em;
    margin-top: 8em;
}
.category_links{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center
}
.category_links a div{
    padding-top: 5px;
}
.category_links a div:hover{
    background: #002d67;
    border-radius: 50%;
    height: 25px;
    width: 30px;
    color: white;
}
.category_links a{
    text-decoration: none;
    color:cyan;
}
.category_btn {
    background-color:transparent;
    border-color: transparent;
    cursor:pointer;
}
.category_btn:hover{
    background: #002d67;
    /* border-radius: 50%; */
    background:rgb(5, 137, 214);
}